<h1>Sign In</h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Name: </label>
  <input type="text" name="user[name]" >
  <label>Password: </label>
  <input type="text" name="user[password]" >
  <input type="submit" value="Sign In">
<% end %>
